<div class = "center home-jumbotron">
  <h1>Welcome</h1>
  <%= link_to 'Log In', login_path, class: 'btn btn-primary btn-lg btn-xlarge btn-login' %>
  <%= link_to 'Sign Up', signup_path, class: 'btn btn-primary btn-lg btn-xlarge btn-signup' %>

</div>
